<div class="">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand ml-5 font-weight-bold" routerLink="/">SmartCharp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" routerLink="/about-us" routerLinkActive="active">About</a>
            <a class="nav-item nav-link" routerLink="/blog" routerLinkActive="active">Blog</a>
            <a class="nav-item nav-link" routerLink="/carrier" routerLinkActive="active">Carrier</a>
            <a class="nav-item nav-link" routerLink="/support" routerLinkActive="active">Support</a>
            <a class="nav-item nav-link" routerLink="/sign-in" routerLinkActive="active">Sign In</a>
          </div>
        </div>
    </div>

  </nav>
</div>
