<div class="container">
  <div class="row">
    <div class="col-sm-6 ">
      <div class="text-box">
          <h5><span class="font-weight-bold">When</span> you define your <span class="font-weight-bold"> personal values,</span> you discover what's truly <span class="font-weight-bold">  important</span> to you. A <span class="font-weight-bold"> good way </span> of starting to do this is to look back on your life – to identify when you felt really good, and really <span class="font-weight-bold">confident</span> that you were making good choices.</h5>
      </div>
      
    </div>
    <div class="col-sm-6">
      <div class="about-box">
        <img src="assets/img/about1.svg" alt="">
      </div>
    </div>
  </div>
  <div class="row bg">
    <div class="col-sm-6 first">
      <div class="info">
        <h5 class="h1">The company</h5>
        <p class="h5 ml-2">Founded in</p>
        <p class="h5 ml-2">HQ: Isle of Man</p>
        <p class="h5 ml-2">Current Stuff: 18</p>
        <p class="h5 ml-2">Operations in:Manchester, Douglas</p>
      </div>
    </div>
    <div class="col-sm-6 sec">
      <div class="clients-box">
        <div class="clients mb-4">
          <span class="client pt-2 pb-2 pl-3 pr-3 mr-2">Financial service</span>
          <span class="client pt-2 pb-2 pl-3 pr-3 mr-2">Banking</span>
          <span class="client pt-2 pb-2 pl-3 pr-3">Payroll</span>
        </div>
        <div class="clients mb-4">
          <span class="client pt-2 pb-2 pl-3 pr-3 mr-2">Logistics</span>
          <span class="client pt-2 pb-2 pl-3 pr-3 mr-2">Property</span>
          <span class="client pt-2 pb-2 pl-3 pr-3">Professional services</span>
        </div>
        <div class="clients">
          <span class="client pt-2 pb-2 pl-3 pr-3 mr-2">Destination Brand</span>
          <span class="client pt-2 pb-2 pl-3 pr-3">Digital Business</span>
        </div>
    </div>
    </div>
  </div>
  <div class="row bg1">
    <div class="col-sm-6 bg1-left">
      <div class="tools">
        <div class="clients clients2 mb-4">
          <span class="client pt-2 pb-2 pl-3 pr-3 mr-2">Bit bucket</span>
          <span class="client pt-2 pb-2 pl-3 pr-3 mr-2">Sketch</span>
          <span class="client pt-2 pb-2 pl-3 pr-3">Google cloud</span>
        </div>
        <div class="clients mb-4">
          <span class="client pt-2 pb-2 pl-3 pr-3 mr-2">Adobe suite</span>
          <span class="client pt-2 pb-2 pl-3 pr-3 mr-2">Zapier</span>
          <span class="client pt-2 pb-2 pl-3 pr-3">Deploy HQ</span>
        </div>
        <div class="clients">
          <span class="client pt-2 pb-2 pl-3 pr-3 mr-2">Amazon Web Services</span>
        </div>
      </div>
      </div>
      <div class="col-sm-6 bg2-right">
        <div class="tools-collection">
          <div class="tool-box box1 mb-4">
            <div class="tool mr-4">
              <img src="assets/img/adobe.png" alt="">
            </div>
            <div class="tool  mr-4">
              <img src="assets/img/zapier.png" alt="">
            </div>
            <div class="tool mt-2">
              <img src="assets/img/sketch-logo.png" alt="">
            </div>
          </div>
          <div class="tool-box box2  mb-4">
            <div class="tool  mr-4">
              <img src="assets/img/zapier.jpg" alt="">
            </div>
            <div class="tool  mr-2">
              <img src="assets/img/aws-logo.png" alt="">
            </div>
            <div class="tool mt-2">
              <img src="assets/img/google.png" alt="">
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

