<div class="container">
  <div class="row">
    <div class="left col-12 col-md-6 ">
      <div class="header-box">
        <h1 class="header-main ml-4 font-weight-bold">
          <span class="header-1 ">
            Always Look
          </span>  
          <span class="header-2">
            On The Bright
          </span>  
          <span class="header-3">
            Side of Life
          </span>
        </h1>
        <p class="header-sub">
          <span class="header-sub1">
            Craftwork is a small team of designers and
          </span>
          <span class="header-sub2">
            frontend developers
          </span>
        </p>
      </div>
      <button type="button" class="btn btn-outline-secondary">Claim Your free trial</button>
      <div class="play-icon">
        <img src="assets/img/play-button.svg" alt="">
      </div>
    </div>
    <div class="right col-12 col-md-6 ">
      <div class="img-box">
        <img src="assets/img/hero.png" alt="">
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="text-box p-3 text-center">
      <h5 class="">Got A good idea or event?</h5>
      <p>Lets's work together</p>
    </div>
  </div>
</div>
